<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mylittlejarvisandroid">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="34" >
        <!-- 서비스 등록 -->
        <service
            android:name=".MyBackgroundService"
            android:foregroundServiceType="microphone"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:enabled="true"
            android:exported="true"/>
    </application>
</manifest>